html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    color: #5f5f5f;


}

.centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.largeHeader {
    color: #4a9e02;
    font-weight: 100;
    font-size: 5em;
    margin-bottom: 1.5em;

}

.slogan {
    color: #4a90e2;
    font-weight: 100;
    text-align: center;
    line-height: 2em;
    font-size: 3em;
}

.errorMsg {
    color: #FF7777;
    font-size: 22px;
    text-align: center;
}